.bg-base{
    background-color: #FF0000 !important;
}

.border-doted{
    border-style: dotted;
    color:#BFBFBF;
}

.pl-0{
    padding-left: 0px !important;
}

.border-16{
    border-radius: 16px;
}

.left-50{
    left: 50%;
}

.filter-dark{
    filter: brightness(70%);
}

.bg-gray{
    background-color:  #005b96 !important;
}

#required{
    color: red;
}

.min-100vh{
    min-height: 100vh !important;
}

.font-bold{
    font-weight: 900 !important;
}

.font-normal{
    font-weight: 600 !important;
}

.font-light{
    font-weight: 100 !important;
}

#bottom-menu-mobile{
    z-index: 10;
    background-color: white;
}


@media only screen and (max-width: 600px) {
    .w-xs-50{
        width: 50% !important;
    }
}

@media only screen and (min-width: 1000px) {
    .pl-lg-0{
        padding-left: 0px;
    }
}