.bg-base{
    background-color: #FF0000 !important;
}

.border-doted{
    border-style: dotted;
    color:#BFBFBF;
}

.pl-0{
    padding-left: 0px !important;
}

.text-black{
    color: black;
}

.border-16{
    border-radius: 16px;
}

.bg-yellow{
    background-color:#fcc404;
    color: white;
}

.bg-bluee-green{
    background-color: #329D9C;
    color: white;
}

.bg-green{
    background-color: #7BE495;
    color:white
}

.left-50{
    left: 50%;
}

.filter-dark{
    filter: brightness(70%);
}

.bg-gray{
    background-color:  #005b96 !important;
}

#required{
    color: red;
}

.min-100vh{
    min-height: 100vh !important;
}

.font-bold{
    font-weight: 900 !important;
}

.font-normal{
    font-weight: 600 !important;
}

.font-light{
    font-weight: 100 !important;
}

#bottom-menu-mobile{
    z-index: 10;
    background-color: white;
}

#active-menu{
    background-color: #FF0000 !important;
    color: white;
    border-radius: 25px;
}


@media only screen and (max-width: 600px) {
    .w-xs-50{
        width: 50% !important;
    }

    .mb-xs-60{
        margin-bottom: 90px;
    }
}

@media only screen and (min-width: 1000px) {
    .pl-lg-0{
        padding-left: 0px;
    }
}